[submodule "modules/falconc"]
	path = modules/falconc
	url = ssh://git@bitbucket.nanofluidics.com:7999/sat/falconc.git
[submodule "modules/racon"]
	path = modules/racon
	url = https://github.com/isovic/racon
[submodule "modules/pbmm2"]
	path = modules/pbmm2
	url = https://github.com/PacificBiosciences/pbmm2.git
